  
 <body>
  <div class="container register-box" style="max-width: 40%">
    <div class="title">Add Exam</div>
    <form [formGroup]="AddExamForm"]>
    <div class="main-user-info">

        <div class="col">
          <label>Course Name</label>
          <input
          formControlName="name"
            type="text"
            class="form-control"
            placeholder="course Name"
          />
      <span *ngIf="AddExamForm.hasError('required','courseName') && AddExamForm.controls['courseName'].dirty" style="color: red;">*CourseName is required</span>

        </div>

        <div class="col">
          <label>Topic Name:</label>
          <input
            formControlName="price" 
            type="text"
            class="form-control"
            placeholder="Price"
          />
      <span *ngIf="AddExamForm.hasError('required','topicName') && AddExamForm.controls['topicName'].dirty" style="color: red;">*topic name is required</span>

        </div>
        
        <div class="col">
          <label>Exam Type</label>
          <input
          formControlName="color"
          type="text"
          class="form-control" 
          placeholder="Color"
          />
          <span *ngIf="AddExamForm.hasError('required','examType') && AddExamForm.controls['examType'].dirty" style="color: red;">*Color is required</span>
          
        </div>
  

      <div class="form-group">
        <label>Total Question:</label>
        <input
          formControlName="category"
          type="text"
          class="form-control"
          placeholder="Category"
        />
      <span *ngIf="AddExamForm.hasError('required','totalQuestions') && AddExamForm.controls['totalQuestions'].dirty" style="color: red;">*Category is required</span>

      </div>
      <div class="form-group">
        <label>Start Date:</label>
        <input
          formControlName="description"
          type="text"
          class="form-control"
          placeholder="Description"
        />
      <span *ngIf="AddExamForm.hasError('required','startDate') && AddExamForm.controls['startDate'].dirty" style="color: red;">*Description is required</span>

      </div>


    <div class="add-btn">
      <button (click)="createExam()" [disabled]="AddExamForm.invalid"   type="submit" class="btn btn-primary">Add</button>
    </div>

    <div class="gotoview-btn">
      <button (click)="gotToView()" [disabled]="AddExamForm.invalid"   type="submit" class="btn btn-primary">Go to view exam</button>
    </div>
    </div>
  </form>
  </div>
</body>


